<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="yandex-verification" content="7a370efbb7090080" />
    <title>{% if tab_title %}{{ tab_title }} - {% endif %}Скачать бесплатно книги по радиоэлектронике и информатике</title>
    <link rel="stylesheet" type="text/css" href="{{ static([theme_stylesheet_url, 'style.css']|join) }}"/>
    <link rel="shortcut icon" href="{{ static([image_url, 'rp.png']|join) }}" type="image/x-icon">
</head>
<body>
<div id="wrap">
    <div class="header">
        <div class="logo">
            <a href="/">
                <img src="{{ static([theme_image_url, 'logo.png']|join) }}" alt="" title="" border="0"/>
            </a>
        </div>
        <div id="menu">
            <ul>
                <li class="selected"><a href="/">Главная</a></li>
            </ul>
        </div>
    </div>
    <div class="center_content">
        <div class="left_content">
            {% block left_content %}
            {% endblock left_content %}
        </div><!--end of left content-->
        <div class="right_content">
            <div class="about">
                {% for alphabet in alphabet_list %}
                    <a href="{{ url('book-alphabet', args=[alphabet.key]) }}" style="font-size: 17px; font-weight: bold; text-decoration: none;">{{ alphabet.value }}</a>
                {% endfor %}
            </div>
            <div class="right_box">
                <div class="title"><span class="title_icon"><img
                        src="{{ static([theme_image_url, 'bullet5.gif']|join) }}"
                        alt="" title=""/></span>Категории
                </div>
                <ul class="list">
                    {% for category in category_list %}
                        <li><a href="{{ url('books-by-category', args=[category.slug]) }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="about"></div>
        </div><!--end of right content-->
        <div class="clear"></div>
    </div><!--end of center content-->
    <div class="footer">
        <div class="left_footer">
            <img src="{{ static([theme_image_url, 'logo.png']|join) }}" alt="" title=""/>
        </div>
        <div class="right_footer">
            <a href="/">Главная</a>
        </div>
    </div>
</div>
</body>
</html>