{% extends 'themes/book_store/base.html' %}

{% block left_content %}
    <div class="title">
        <span class="title_icon">
            <img src="{{ static([theme_image_url, 'bullet1.gif']|join) }}" alt="" title=""/>
        </span>
        {{ title }}<br/>
        <span style="font-size: 14px;"><a href="{{ url('books-by-category', args=[book_detail.category.slug]) }}"
                                          style="text-decoration: none;">{{ book_detail.category.name }}</a></span>
    </div>
    <br/><br/><br/><br/>
    <hr class="hr-title" />
    <img class="detail-img" src="{{ static([image_url, 'books/', book_detail.id, '_big.jpg']|join) }}"
         alt="{{ book_detail.author_str }} - {{ book_detail.name }}"
         title="{{ book_detail.author_str }} - {{ book_detail.name }}"
         border="0"/>
    <div class="detail-description">
        <strong>Автор:</strong> {{ book_detail.author_str }}<br/>
        <strong>Год издания:</strong> {{ book_detail.year }}<br/>
        <strong>Издательство:</strong> {{ book_detail.publisher.name }}<br/>
        <strong>Оригин. название:</strong> {{ book_detail.origin_name }}<br/>
        {% if book_detail.series %}
            <strong>Серия:</strong> {{ book_detail.series }}<br/>
        {% endif %}
        {% if book_detail.format %}
            <strong>Формат издания:</strong> {{ book_detail.format }}<br/>
        {% endif %}
        <strong>Тип издания:</strong> {{ book_detail.type.name }}<br/>
        <strong>Страниц:</strong> {{ book_detail.pages }}<br/>
        <strong>Вес:</strong> {{ book_detail.weight }} г.<br/>
        <strong>Язык:</strong> {{ book_detail.language }}<br/>
        <strong>Переплёт:</strong> {{ book_detail.cover }}<br/>
        <strong>ISBN:</strong> {{ book_detail.isbn }}{% if book_detail.isbn2 %}, {{ book_detail.isbn2 }}{% endif %}<br/>
        <strong>Бумажная версия:</strong> <a style="cursor: pointer; text-decoration: underline;"
                                             onclick="window.open('{{ book_detail.paper_url }}')">{{ book_detail.paper_name }}</a><br/>
        <hr class="hr-title"/>
        {{ book_detail.description_big|safe }}
        {% if book_detail.file_size != '-' %}
        <hr class="hr-title"/>
        <strong>Формат файла:</strong> {{ book_detail.file_format }}<br/>
        <strong>Размер файла:</strong> {{ book_detail.file_size }} МБ<br/>
        <strong>Пароль к файлу:</strong> radiopolka.ru
            <br/><br/>
            <a href="{{ static([book_url, book_detail.id, '-', book_detail.slug, '.zip']|join) }}" style="margin-left: 110px;">
                <img src="{{ static([theme_image_url, 'download.png']|join) }}"/>
            </a>
        {% endif %}
    </div>
{% endblock left_content %}