{% extends 'themes/book_store/base.html' %}

{% block left_content %}
    <div class="title">
        <span class="title_icon">
            <img src="{{ static([theme_image_url, 'bullet1.gif']|join) }}" alt="" title=""/>
        </span>
        Перечень книг
    </div>
    {% for book in book_list %}
        <div class="feat_prod_box">
            <hr class="hr-title"/>
            <div class="prod_title">
                <a href="{{ url('book-detail', args=[book.slug]) }}" style="text-decoration: none;">
                    {{ book.name }}
                </a>
            </div>
            <hr class="hr-title"/>
            <div class="prod_img">
                <a href="{{ url('book-detail', args=[book.slug]) }}">
                    <img src="{{ static([image_url, 'books/', book.id, '_middle.jpg']|join) }}" alt="" title=""
                         border="0"/>
                </a><br/><br/>
                <div style="text-align: left; font-size: 9px;">
                    <strong>Страниц:</strong> {{ book.pages }}<br/>
                    <strong>Вес:</strong> {{ book.weight }} г.<br/>
                    <strong>Язык:</strong> {{ book.language }}<br/>
                    <strong>Переплёт:</strong> {{ book.cover }}<br/>
                    <strong>ISBN:</strong> {{ book.isbn }}<br/>
                </div>
            </div>
            <div class="prod_det_box">
                <div class="box_top"></div>
                <div class="box_center">
                    <div class="details">
                        <strong>Автор:</strong> {{ book.author_str }}<br/>
                        <strong>Год издания:</strong> {{ book.year }}<br/>
                        <strong>Издательство:</strong> {{ book.publisher.name }}<br/>
                        <strong>Оригин. название:</strong> {{ book.origin_name }}<br/>
                        <hr class="hr-title"/>
                        {{ book.description_small|safe }}
                    </div>
                    <a href="{{ url('book-detail', args=[book.slug]) }}" class="more">
                        - Подробнее -
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="box_bottom"></div>
            </div>
            <div class="clear"></div>
        </div>
    {% endfor %}
{% endblock left_content %}